.contact{
    margin-top: var(--mTop);
    padding: 60px 0;
}

form{
width: 70%;
margin: 0 auto;
margin-top: 50px;
}

input{
    border: none !important;
    border-bottom: 1px solid rgb(202, 202, 202) !important
}

input:focus {
box-shadow: none !important;
border-bottom: 3px solid var(--primary-light-color) !important;
}


.btn{
    background-color: var(--primary-light-color) !important;
    color: var(--light-color) !important;
}