footer{
    background-color: var(--primary-dark-color);
    color: var(--light-color);
    text-align: center;
    padding: 80px 0;
}

footer h3{
    text-transform: uppercase;
}

.icon{
    border-radius: 50%;
    border: 1px solid var(--light-color);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyRight{
    background-color: #1a252f;
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}
